{% extends 'base.html' %}
{% block content %}

<!--Body-->
<div class="container">
    <h1>Home</h1>
        <div class="row">
            {% for image in images %}
            <div class="col-sm-4" data-toggle ="modal" data-target="#previewModal{{image.id}}">
                <img src="{{image.image.url}}" alt="Image"  class="img-responsive" height="400px" width="420px">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="#previewModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>  
</div>

  
              
{% endblock %}