{% extends 'base.html' %}
{% block content %}

<!--Body-->
<div class="container">
    <h1>Home</h1>
        <div class="row">
            {% if images %}
            {% for image in images %}
            <div class="col-sm-4" >
                <img src="{{image.image.url}}" data-bs-toggle='modal' data-bs-target="#previewModal{{image.id}}" alt="Image" height="400px" width="420px">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="previewModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="Image" height="420px" width="470px">
                        <p class="text-center mt-3"><strong>About this photo:&nbsp;</strong>{{ image.description }}</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <p><strong>Category:&nbsp;</strong>{{image.category.name}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><strong>Location:&nbsp;</strong>{{image.location.name}}</p>
                            </div>
                            <div class="col-sm-4">
                                <p><strong>Date Taken:&nbsp;</strong>{{image.created}}</p>
                            </div>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <p class="text-center">Double click to copy this link</p>
                        <input type="text" class="form-control" value="{{image.image.url}}" id="{{image.id}}.url">
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container">
                <h3>
                    no images have been uploaded
                </h3>
            </div>
            {% endif %}
        </div>  
</div>           
{% endblock %}